*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.fundo{
    
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#f9c1cc);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;

}
.botao{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #fbe4ee;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: black;
    margin: 5px;
}
.botao:hover{
    background: #fcbfce;
}
#resultado {
    background-color: #f9c1cc;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border: none; 
    border-bottom: 3px solid #ecaebb; 
}
